.main-div-view-specific{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.specific-student{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}